

/* header*/
    .headerofgallery{
    height: 80vh;
    min-height: 560px;
    position: relative;
    animation: slider 6s infinite linear;
}   
@keyframes slider{
    0% {
        background: url('../img/gallery/DTUcampus.jpg') no-repeat center / cover;
    }
    50%{
        background: url('../img/gallery/DTUcampus.jpg') no-repeat center / cover;
    }
    100% {
        background: url('../img/gallery/DTUcampus.jpg') no-repeat center / cover;
    }
}

.head__main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.head__blog{
    position: relative;
}

.head__text{
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    padding: 10px 0 15px;
}
.head__name{
    font-size: 72px;
    font-weight: 900;
    color: rgb(9, 9, 9);
    padding-bottom: 35px;
}
.head__text:hover{
    font-weight: 700;
    color: black
}
.head__link{
    padding: 15px 30px;
    background: yellow;
    color: black;
    border-radius: 0px;
    font-weight: bold;
    font-size: 15px;   
    transition: all 0.5s ease;
    border: 0px;
    cursor: pointer;
}
.head__link:hover{
    background: black;
    color: white;
    transition: all 0.5s ease;
    border: yellow solid 2px;
}
.gallery__flow{display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    width:100%;
    padding:1.5vw}.gallery__isle{-webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -webkit-flex-shrink:1;
    -ms-flex-negative:1;
    flex-shrink:1;
    width:25%;
    padding:1.5vw}.gallery__isle-inner{position:relative;
    z-index:5;
    width:100%;
    height:0;
    padding-bottom:62.5%;
    background-color:#fff;
    -webkit-box-shadow:0 .1vw 1vw -.1vw rgba(0,
    0,
    0,
    .4);
    box-shadow:0 .1vw 1vw -.1vw rgba(0,
    0,
    0,
    .4);
    -webkit-border-radius:.5vw;
    border-radius:.5vw;
    overflow:hidden}.gallery__isle-content{position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden}.gallery__preview{position:relative;
    width:100%;
    height:100%}.gallery__preview-image{width:100%;
    height:100%;
    overflow:hidden}.gallery__preview-image img{display:block;
    width:100%;
    min-height:100%}.gallery__preview-caption{position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    background-color:rgba(44,
    62,
    80,
    .9);
    opacity:0;
    -webkit-transition:opacity .5s;
    transition:opacity .5s}.gallery__preview:hover .gallery__preview-caption{opacity:1}.gallery__preview-info{-webkit-box-flex:0;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -webkit-flex-shrink:1;
    -ms-flex-negative:1;
    flex-shrink:1;
    max-width:100%;
    padding:20px;
    text-align:center}.gallery__preview-title{display:block;
    margin:0 auto 20px;
    font-family:"PT Sans",
    Tahoma,
    Verdana,
    Arial,
    sans-serif;
    font-size:26px;
    font-weight:700;
    line-height:1;
    color:#fff;
    text-align:center}.gallery__preview-links{display:inline-block;
    text-align:left}.gallery__preview-link{display:block;
    margin:0 auto 10px;
    font-family:"PT Sans",
    Tahoma,
    Verdana,
    Arial,
    sans-serif;
    font-size:18px;
    line-height:1;
    text-align:left;
    text-decoration:none;
    color:#fff}.gallery__preview-link:hover{text-decoration:underline; color: black;}.gallery__preview-link:not(:last-of-type){margin-right:20px}.gallery__preview-link_role_original:before
   {display:inline-block;
    margin-right:10px;
    font-family:"site-icons";
    font-size:18px;
    line-height:1;
    vertical-align:baseline}.gallery__preview-link:hover .gallery__preview-link_role_original:before,
    .gallery__preview-link:hover 
    .gallery__preview-link:hover .gallery__preview-link_role_original:before{content:"\e804"}@media screen and (max-width:2560px){.gallery__isle{width:33.3%}}@media screen and (max-width:1760px){.gallery__isle{width:50%}}@media screen and (max-width:960px),
    screen and (max-height:640px){.page-header__title{font-size:50px}}@media screen and (max-width:960px){.gallery__flow{padding:20px}.gallery__isle{width:100%;
    padding:20px}.gallery__isle-inner{-webkit-box-shadow:0 2px 20px -2px rgba(0,
        0,
        0,
        .4);
    box-shadow:0 2px 20px -2px rgba(0,
    0,
    0,
    .4);
    -webkit-border-radius:5px;
    border-radius:5px}.gallery__preview-title{font-size:24px}}@media screen and (max-width:640px),
    screen and (max-height:480px){.page-header__title{font-size:40px}.page-footer__text{font-size:24px}}@media screen and (max-width:640px){.gallery__flow{padding:15px}.gallery__isle{padding:15px}}@media screen and (max-width:480px){.gallery__flow{padding:10px}.gallery__isle{padding:15px 10px}.gallery__preview-info{padding:10px}.gallery__preview-link{margin-bottom:5px}}@media screen and (max-width:320px){.gallery__preview-title{font-size:22px}}