/* body{
   min-height:80vh;
   display:grid;
   place-items:center;

} */

.slider{
   /* height: 300px; */
   margin:auto;
   position:relative;
   width:90%;
   display:grid;
   place-items:center;
   overflow:hidden;
}
.slide-track{
   display:flex;
   width:calc(250px*8);  /* for 8 images*/
   animation: scroll 40s linear infinite;
}
.slide-track:hover{
   animation-play-state: paused;

}
@keyframes scroll{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(calc( -250px * 4)); /* for 8 images*/
    }
   }    
.slide{
   height:10px;
   width:250px;
   display:flex;
   align-items: center;
   padding:15px;
   perspective: 100px;
}
img{
    width: 50px;
    transition: transform 1s;
}
img:hover{
   transform: translateZ(20px);
}
.slider ::before,
.slider ::after{
    /* background:linear-gradient(to right,rgb(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%); */
    content: '';
    height:100%;
   position:absolute;
   width:15%;
   /* z-index:2; */
}
.slider ::before{
   left:0;
   top:0;
}
.slider ::after{
   left:0;
   top:0;
   transform: rotateZ(180deg);
}
.slider-content{
   display: flex;
   flex-direction: column;
   align-items: center;
}