* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {width:200px}
img {vertical-align: middle;}
@font-face {
    font-family:"Kelson Sans Bold";
    src: url("../fonts/Kelson%20Sans%20Bold.otf");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: "Bariol";
    src: url("../fonts/Bariol.otf");
}
/* Slideshow container */
.slideshow-container {
  /* max-width: 200px; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#about>.container>.row{
    width:80%;
    margin:0 auto;
}
#about>.container>.row>.col-lg-12{
    padding:20px;
}
#about>.container>.row>.col-lg-12>button{
    font-size:30px;
    /* width:40%; */
}
#about>.container>.row>.col-lg-12>button:hover{
    background-color:white !important;
}
.active, .dot:hover {
  /* background-color: #71717    1; */
  text-decoration: none;
}

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#description{
    position: relative;
    display: block;
    margin: auto;
    font-size: 22;
    text-align: center;
}

#service-container .row{
    width: 100%;
}

.services{
    text-align: center;
    padding: 10px;
    border:2px solid transparent;
    height:370px;
}

.services .icon{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.services:hover{
    border: 2px dashed black;
}

#services-content{
    margin: auto;
}

#description blockquote{
    margin: auto;
}

#services-content{
    text-align: center;
}

#map{
    height: 30vh;
    width: 100%;
}

#form-area{
    text-align: center;
}

#footer-col{
    text-align: center;
}

.logo img{
    width: 32px;
    height: 32px;
}

.slick-prev,.slick-next{
    width:40px;
    height:40px;
    color:black;
    margin: 0 -50px;

}
.slick-prev:before,.slick-next:before{
    font-size: 40px;
    margin:-100px;
    width:40px;
    height:40px;
    color:black;
}
.active{
    background-color: none !important;
        /* -webkit-text-stroke:2px black; */
    border: 1px dashed;
    padding: 5px;
}
.main-heading{
    /* height:100vh; */
    font-family:'Kelson Sans Bold';
    color:white;
    font-size:50px;
    position: relative;
    top:50%;
    padding-top:90px;
    text-align:center;
    font-size:100px;
    /* left:50%; */
    /* transform: translate(-50%,-50%); */
}
.haha{
    display:none;
}
a:hover{
    text-decoration: none;
}
ul{
    margin-top:10px;
}

.navigation{
    text-decoration: none;
}
.navigation a:focus{
    text-decoration: none;
}